{% extends 'base.html' %}

{% block head %}

<div class = "heading">
    <h1>TECC Project</h1>
</div>

{% endblock %}

{% block body %}

<div class="configManager">   
    <h2>Select Pluins to Add</h2>

    <div class="pluginConfig">

        <h3>Available Plugins</h3>

        <table class="currentPlugins">
            {% for plugin in pluginList %}
            <tr>
                <td>
                    <h4>{{ plugin.name }}</h4>
                </td>
                <td>
                    <form action="/add/{{ plugin.id }}">
                        <input class="smallAssign" type="submit" value="Add">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <form action="/ConfigManager/">
        <input class="button" type="submit" value="Back">
    </form>
</div>
{% endblock %}